.App {
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

li {
  border: 1px solid #abcdef;
  text-align: center;
  padding: 8px;
}

h3 {
  background-color: #abcdef;
  color: #f6f6f6;
  text-align: center;
  margin-bottom: 0;
  padding: 8px;
}